.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    margin: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content > img {
    height: 50vh;
}