.content {
    display:flex;
    align-items: center;
    gap: 1rem;
    
}

.content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 80vw;
}

.content2 > img {
    height: auto;
    width: 60vw;
}

.content2 > div {
    display: flex;
    width: 20rem;
    height: 5rem;
    justify-content: space-between;
}

@media screen and ( max-width: 800px) {
    .content2 > img {
        height: 30vh;
    }
}