.content {
    display:flex;
    align-items: center;
    gap: 1rem;
    
}

.content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.content2 > img {
    height: 50vh;
}

@media screen and ( max-width: 800px) {
    .content2 > img {
        height: 30vh;
    }
}