* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('/public/earth2.jpg');
  width: 100%;
  padding: 0;
}

.App {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 98vw;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}


.Apod {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.Mars {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

main {
  font-size: 20px;
}

footer {
  margin-top: 3rem;
}

@media screen and ( max-width: 800px) {
  header > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav {
    width: 20rem;
    gap: 1rem;
  }

  .Home {
    font-size: 20px;
  }
  .Apod {
    font-size: 20px;
  }
  .Mars {
    font-size: 20px;
  }
  
}